<div class="container text-center">
	<h1>Editing todo_list</h1>
</div>

<%= render 'form' %>

<button type="button" class="btn btn-default"><span><%= link_to 'Show', @todo_list %></span></button>
<button type="button" class="btn btn-default"><span><%= link_to 'Back', todo_lists_path %></span></button>
