<div class="container text-center">
	<h1>Welcome to the TODO lists app</h1>
</div>
<div class="container text-center">
	<div class"description" style="font-size:20px;"> This is the easy usable Ruby web app where you can just type what you have to do today and plan your TODO lists </div>
</div>

